{% if section.blocks.size > 0 %}
  <div class="px-3 py-4.5 flex slider-mobile gap-4 lg:hidden border-b border-primary">
    {% for block in section.blocks %}
      <a href="{{ block.settings.url }}" title="{{ block.settings.title }}" class="text-xs leading-none uppercase">{{ block.settings.title }}</a>
    {% endfor %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Custom menu",
    "tag": "section",
    "settings": [
    ],
    "blocks": [
      {
        "type": "link",
        "name": "Link",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}